body {
    width: 100vw;
    height: 100vh;
    background-image: url(../imgs/login-the-crown.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
}