@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

/* Modais para barra de notificações */


/* Modais para perfis e config */

/* Modal para mostrar mais informações */

@keyframes animacao-modal-info {
    from {
        transform: scale(0.5);
        opacity: 0;
    } to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-mais-informacoes {
    min-height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 4;
    transform-origin: 50% 12.5%;
    animation: animacao-modal-info 1s normal;
    padding-top: 10vh;
}

.mais-informacoes {
    width: 70%;
    height: 90%;
    background-color: #141414;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview-imagem-title {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(77deg,rgb(20, 20, 20, .6),transparent 85%);
}

.preview-imagem-title img {
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-mask-image: linear-gradient(to top, transparent 0%, #000000 30%);
    mask-image: linear-gradient(to top, transparent 0%, #000000 30%);
    object-fit: cover;
    object-position: center;
}

.titles {
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.title-span {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    position: relative;
}

.close {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.button-close {
    width: 90%;
    display: flex;
    justify-content: flex-end;

}

.close button {
    color: #fff;
    background-color: #141414;
    border: none;
    text-align: center;
    border-radius: 100%;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.close button:hover {
    color: #ee0000;
}

.title-span span {
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    font-size: 4rem;
    font-weight:bold;
    color: #fff;
    font-family: Work Sans;
    letter-spacing: 5px;
}

.space-buttons {
    padding-top: 25px;
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.buttons {
    display: flex;
    gap: 10px;
}

#assistir-play  {
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bolder;
    min-height: 40px;
    min-width: 100px;
    max-width: 200px;
    max-height: 80px;
    width: 10vw;
    transition: 0.3s;
}

#assistir-play:hover {
    background-color: rgb(228, 228, 228);
}

#assistir-play svg {
    margin-right: 10px;
}

#circle-play {
    border-radius: 100%;
    min-height: 40px;
    min-width: 20px;
    max-width: 40px;
    max-height: 70px;
    width: 10vw;
    transition: 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.5);;
    background-color: rgba(42,42,42,.6);;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle-play:hover {
    border-color: #fff;
}

.som {
    margin-right: 2rem;
}

.som button {
    opacity: 0.5;
}

.som button:hover {
    opacity: 1;
}

.preview-informacoes {
    height: 40vh;
    width: 90%;
    display: flex;
    align-items: flex-start;
}

.conteudo-esquerda {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.infos-topo {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.infos-topo p, .infos-topo span{
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 1px;
}

#avaliacao {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#hd {
    font-size: 0.8rem;
    border: 2px rgba(255, 255, 255, 0.4) solid;
    border-radius: 5px;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#company {
    width: 15%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.infos-baixo {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1rem;
}

.conteudo-direita {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    line-height: 20px;
    word-break: break-word;
}

.coluna-lista {
    margin-top: 30px;
    font-size: 1rem;
    height: 33%;
    width: 100%;
}

#tag {
    color: #777;
}

#item a{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

#item a:hover {
    text-decoration: underline;
}

.coluna-lista p {
    color: #fff;
}

.preview-episodios {
    min-height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.eps-temps {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eps-temps p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bolder;
}

.modal-select {
    position: relative;
    display: flex;
    justify-content: end;
    height: 100%;
    text-align: start;
}

@keyframes select-animation {
    from {
        opacity: 0;
        transform: translate3d(0, -50px, 0);
    } to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.modal-select ul {
    animation: select-animation 0.5s normal;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 1;
    margin-top: 4rem;
    min-width: 300px;
    height: 200px;
    max-width: 400px;
    column-gap: 1.8em;
    white-space: nowrap;
    background-color: #242424;
    border: 1px solid #4d4d4d;
    color: #fff;
    cursor: pointer;
    display: none;
    place-items: center;
}

.modal-select ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    max-width: 500px;
    height: 7vh;
}

.modal-select ul li:hover {
    background-color: #636363;
}

.text-temp {
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

#select {
    cursor: pointer;
    border: 2px solid #4d4d4d;
    background: #242424;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    min-width: 250px;
    min-height: 50px;
    max-width: 350px;
    max-height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#select::after {
    content: "";
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-top: 0.4rem solid #ffffff;
    transition: transform 0.2s linear 0s;
    margin-left: 2rem;
    transform: none;
}


.episodios {
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-top: 10px;
}

hr {
    width: 100%;
    height: 1px;
    border: 0px;
    border-top: 1px solid #757575;
}

.infos-ep {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.numero-ep {
    height: 100%;
    width: 10%;
    color: #d2d2d2;
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-ep {
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-ep img {
    min-width: 70px;
    min-height: 40px;
    max-width: 110px;
    max-height: 80px;
    border-radius: 5px;
    cursor: pointer;
}

.sobre-ep {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.top {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
}

.bottom {
    width: 100%;
    height: 50%;
    font-size: 0.8rem;
    color: #d2d2d2;
    text-align: start;
}

/* Tela de loading */

.tela-loading {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: in-animation 0.6s normal;
}

@keyframes in-animation {
    from {
        opacity: 0;
        transform: scale(1.5);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

.tela-loading img {
    position: absolute;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

.loading {
    position: absolute;
    animation: rotação 1s infinite;
    height: 100px;
    width: 100px;
    border: 5px solid #141414;
    border-top-color: #ee0000;
    border-right-color: #ee0000;
    border-radius: 50%;
}

@keyframes rotação {
    to {
        transform: rotate(1turn);
    }
}

/* Modal simples para mostrar modal de lista */

@keyframes animacao-left {
    from {
        opacity: 0;
        transform: translate3d(100px, 0, 0)
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.modal-lista {
    animation: animacao-left normal 0.5s;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.imagens-lista {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    width: 80%;
    height: 80vh;
}

/* Modal para bombando */

@keyframes animacao-right {
    from {
        opacity: 0;
        transform: translate3d(-100px, 0, 0)
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.bombando {
    animation: animacao-right 0.5s normal;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.bombando figure, 
.series-modal section, 
.filmes-modal section {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.mudar-midia, 
.pesquisar-relacionados {
    width: 95%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#botao-mudar {
    min-height: 40px;
    min-width: 100px;
    max-height: 80px;
    max-width: 160px;
    border: 2px solid #808080;
    background: none;
    border-radius: 5px;
    color: #808080;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.4s;
}

#botao-mudar:hover, 
.passar-pagina button:hover, 
.series-modal .pesquisar button:hover,
.passar-relacionados button:hover,
#procurar-relacionado-filme:hover {
    border-color: #fff;
    color: #fff;
}

.passar-pagina, 
.passar-relacionados {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.passar-pagina button, 
.series-modal .pesquisar button, 
.passar-relacionados button,
#procurar-relacionado-filme {
    min-height: 40px;
    min-width: 60px;
    max-height: 80px;
    max-width: 100px;
    border: 2px solid #808080;
    background: none;
    border-radius: 5px;
    color: #808080;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.4s;
}

.passar-pagina span,
.passar-relacionados span {
    color: #fff;
    font-size: 1.5rem;
}

.bombando-lista, 
.resultados-relacionados,
.resultados-relacionados-filme {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

/* Modal para opção de series */

.series-modal {
    animation: animacao-right 0.5s normal;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.series-modal .pesquisar {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.series-modal .pesquisar #campo-relacionado,
#campo-relacionado-filme {
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 5px;
    min-width: 250px;
    max-width: 350px;
    min-height: 30px;
    max-height: 40px;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    font-weight: 400;
}

.series-modal .pesquisar button,
#procurar-relacionado-filme {
    min-height: 35px;
    min-width: 60px;
    max-height: 40px;
    max-width: 100px;
    font-size: 1rem;
}

#erro-rel {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    
}

.filmes-modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    animation: animacao-left 500ms linear;
}