html {
    -webkit-text-size-adjust: 100%;
}

body {
    background: #141414;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    font-family: Fira Sans, Arial;
}

header {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.menuFixo {
    background-color: rgb(20, 20, 20);
}

header section {
    width: 92%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opcoes {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcoes nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: start;
}

.logo input {
    min-height: 20px;
    max-height: 60px;
    min-width: 60px;
    max-width: 120px;
    width: 10vw;
}

.navegacao {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navegacao a {
    padding: 10px;
    color: #e5e5e5;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.3s;
}

.navegacao a:hover {
    color: #adadad;
}

.modais-search {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.div-modais {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.elemento {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elemento-texto {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elemento-texto svg {
    margin-left: 10px;
}

.elemento button,
.elemento-texto svg {
    cursor: pointer;
    border: none;
    background: none;
    filter: invert(100%);
    position: absolute;
    z-index: 2;
}

.elemento img {
    border-radius: 5px;
    min-height: 10px;
    max-height: 40px;
    min-width: 40px;
    max-width: 80px;
    width: 2vw;
    cursor: pointer;
}

/* Campo de pesquisa animação */

.Campo-Texto {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.Active-Texto {
    justify-content: start;
    animation: animacao-campo-texto 0.5s normal;
    overflow: hidden;
}

.Active-Lupa {
    margin-left: 0.5rem;
}

#campo-texto {
    border: 1px #fff solid;
    border-radius: 5px;
    background-color: #000000;
    width: 100%;
    height: 90%;
    padding-left: 2.3rem;
    color: #fff;
    font-size: 1rem;
}

@keyframes animacao-campo-texto {
    from {
        width: 0;
        transform: translate3d(100px,0,0);
    } to {
        width: 100%;
        transform: translate3d(0,0,0);
    }
}