main {
    width: 100vw;
    min-height: 770vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

section {
    position: relative;
    width: 80vw;
    margin-top: 8rem;
}

figure {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

figure::-webkit-scrollbar {
    display: none;
}

.galeria {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem; /*Define a lacuna entre duas tags*/ 
}

.galeria input{
    min-height: 100px;
    min-height: 100px;
    max-width: 150px;
    max-height: 150px;
    width: 12vw;
    flex-shrink: 0; /*Não permite que o programa faça todos os elementos caberem por padrão*/
    transition: all 200ms ease-in-out;
    border-radius: 10px;
    border: 3px solid transparent ;
}

.galeria input:hover{
    border-color: #fff;
}

.text img {
    min-height: 50px;
    min-width: 150px;
    max-width: 300px;
    max-height: 100px;
    padding-bottom: 1rem;
}

.text p {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.arrow-left, 
.arrow-right {
    width: 5%;
    position: absolute;
    right: auto;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, transparent 0%, #141414 100%);
    border: none;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    opacity: 0.2;
    transition: all 400ms ease-in-out;
}

.arrow-right {
    right: 0;
    left: auto;
    background: linear-gradient(to right, transparent 0%, #141414 100%);
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}