@keyframes animation-modal {
    from {
        opacity: 0;
        transform: scale(0.6);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal {
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    animation: animation-modal 0.5s;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 25vw;
}

.header-modal {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-modal p {
    font-size: 1.5rem;
    color: #fff;
}

.main-modal{
    height: 50%;
    width: 100%;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagem-atual,
.imagem-nova {
    height: 70%;
    width: 40%;
}

.main-modal img {
    border: transparent solid;
    border-radius: 10px;
    height: 80%;
    width: 100%;
    transition: 0.3s;
}

.main-modal img:hover {
    border-color: #fff;
}

.main-modal p {
    padding: 10px;
    font-size: 0.7rem;
    color: #fff;
    text-align: center;
}

.footer-modal {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-modal button {
    width: 130px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#button-good {
    background-color: #fff;
    color: #000;
    border: none;
}

#button-good:hover {
    background-color: #ff0000;
    color: #fff;
}

#button-not {
    background: none;
    border: 2px solid #808080;
    color: #808080;
}

#button-not:hover {
    border-color: #fff;
    color: #fff;
}

