@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@keyframes animation-out {
    from {
        opacity: 0;
        transform: scale(1.3);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

body {
    background: #141414;
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-x: hidden;
    font-family: Fira Sans, Arial;
    animation: animation-out 0.5s;
}

header{
    width: 35%;
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

header p {
    font-size: 4.5rem;
    color: #fff;
}

header hr, .game-id hr, .classificacao hr, footer hr{
    width: 100%;
    border: 1px solid rgb(113, 113, 113);
    opacity: 0.5;
}

main{
    margin-top: 20px;
    width: 35%;
    height: 75%;
    display: flex;
    flex-direction: row;
}

figure{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

figure img{
    max-height: 170px;
    max-width: 170px;
    min-height: 100px;
    min-width: 100px;
    border-radius: 5px;
}

figure button {
    width: 35px;
    height: 35px;
    position: absolute;
    border: none;
    border-radius: 100%;
    background-color: #000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 120px;
    margin-left: 10px;
}

figure svg{
    filter: invert(100%);
}

section{
    margin-left: 5%;
    width: 70%;
    height: 100%;
}

.nome{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#campo-nome{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #666;
    color: #fff;
    font-size: 1.5rem;
    padding-left: 20px;
}

.idiomas{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

.idiomas p{
    color: #ccc;
    font-size: 1.8rem;
}

select {
    margin-top: 10px;
    height: 30px;
    width: 150px;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border: 1.5px solid;
}

.game-id{
    margin-top: 30px;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.game-id h2 {
    font-size: 1.7rem;
    color: #ccc;
}

#sobre-id{
    margin-top: 10px;
    font-size: 1.1rem;
    color: #fff;
}

#sobre-id button {
    color: #fff;
    border: none;
    background: none;
    font-size: 1.3rem;
    cursor: pointer;
}

#game-id-text{
    margin-top: 20px;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #666;
    color: #fff;
}

#game-id-text::placeholder {
    color: #ccc;
}

.limitacao-input{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#mensagem-limitacao, #quantidade-limitacao {
    font-size: 1.2rem;
    color: #fff;
}

.classificacao {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.classificacao h2 {
    font-size: 1.5rem;
    color: #ccc;
}

#button-text{
    height: 50px;
    width: 300px;
    margin-top: 20px;
    border: none;
    background-color: #666;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: default;
}

#show-text{
    margin-top: 20px;
    font-size: 1.1rem;
    color: #fff;
}

.classificacao button {
    margin-top: 30px;
    height: 40px;
    width: 120px;
    border: 2px solid #666;
    background: none;
    color: #ccc;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s;
}

.classificacao button:hover {
    border-color: #fff;
    color: #fff;
}

.classificacao hr{
    margin-top: 60px;
}

.controles{
    width: 100%;
    height: 25%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#control-title{
    font-size: 1.7rem;
    color: #ccc;
}
.controles label {
    color: #fff;
    font-size: 1.2rem;
}

.div-label {
    margin-top: 30px;
}

.div-label input {
    display: none;
}

.div-label input + label:before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 5px;
    border: 1px solid #666;
    background: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 3px;
    transform: scale(1.2);
}

.div-label input:checked + label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");

}

footer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 35%;
    height: 13%;
}

.botoes {
    margin-top: 20px;
}

#botao-branco{
    height: 50px;
    width: 140px;
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    transition: 0.2s;
}

#botao-branco:hover {
    color: #fff;
    background-color: #ff0000;
}

#botao-preto {
    border: 2px solid #666;
    color: #666;
    background: none;
    height: 50px;
    width: 140px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 20px;
    transition: 0.2s;
}

#botao-preto:hover {
    border-color: #fff;
    color: #fff;
}