@media screen and (max-width: 1440px) {
    .logo-imagem img {
        height: 80px;
        width: 200px;
    }

    nav a {
        font-size: 3rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .principal p {
        font-size: 1.2rem;
    }

    label {
        font-size: 1.2rem;
    }

    label input {
        height: 6vh;
        font-size: 1.2rem;
    }

    .botoes input, button {
        font-size: 1rem;
    }

    main p {
        font-size: 1.2rem;
    }

    footer p, summary {
        font-size: 1.2rem;
    }
} 

@media screen and (max-width: 1024px) {
    .logo-imagem img {
        height: 70px;
        width: 180px;
    }

    nav a {
        font-size: 2.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    .principal p {
        font-size: 1rem;
    }

    label {
        font-size: 1rem;
    }

    label input {
        font-size: 1rem;
    }

    .botoes input, button {
        width: 50%;
        font-size: 0.8rem;
    }

    footer p, summary {
        font-size: 1rem;
    }
}


@media screen and (max-width: 420px) {
    .logo-imagem img {
        height: 30px;
        width: 100px;
        margin-left: 0px;
    }

    nav a {
        font-size: 1.2rem;
    }

    section {
        width: 70%;
    }


    h1 {
        font-size: 1.4rem;
    }

    .principal p {
        font-size: 0.6rem;
    }

    label {
        font-size: 0.8rem;
    }

    label input {
        font-size: 0.8rem;
        height: 5vh;
    }

    .botoes input, button {
        width: 50%;
        font-size: 0.7rem;
    }

    footer p, summary {
        font-size: 0.7rem;
    }
}